<html>
<head>
    <title>
        Search Form
    </title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
    </form>
    {% for key,value in avl_rooms.items %}
        <div>
            <span>{{ key }}</span>
            <span>{{ value }}</span>
            <a href = "{% url 'book_room' gh_id %}?room={{key}}"><button>Book</button></a>
        </div>
    {% endfor %}
</body>
</html>