<!DOCTYPE html>
<html>
   
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="apple-touch-icon" href="../hideout-app/themes/the-hideout-theme/img/apple-icon-touch.png">
      <link rel="icon" href="../hideout-app/themes/the-hideout-theme/img/favicon.png">
      <meta content="index,follow" name="robots">
      <title>About Us | The Oyster & Fish House | Mark Hix</title>
      <meta content="Located on the site that was HIX Oyster & Fish House, the Dorset restaurant by Mark Hix serves the best of local produce, sustainable fish & seafood." name="description">
      <meta content="en-GB" property="og:locale">
      <meta content="website" property="og:type">
      <meta content="The Oyster &amp; Fish House" property="og:site_name">
      <meta content="https://theoysterandfishhouse.co.uk/hideout-app/app-uploads/2020/07/De-Beauvoir-smoked-salmon.jpg" property="og:image">
      <meta content="summary" name="twitter:card">
      <meta content="About us" name="twitter:title">
      <meta content="Located on the site that was HIX Oyster & Fish House, the Dorset restaurant by Mark Hix serves the best of local produce, sustainable fish & seafood." name="twitter:description">
      <meta content="https://theoysterandfishhouse.co.uk/hideout-app/app-uploads/2020/07/De-Beauvoir-smoked-salmon.jpg" name="twitter:image">
      <meta content="@hideoutuk" name="twitter:site">
      <meta content="@hideoutuk" name="twitter:creator">
      <meta name='robots' content='max-image-preview:large'/>
      <link rel='dns-prefetch' href='http://fonts.googleapis.com/'/>
      <link rel='dns-prefetch' href='http://s.w.org/'/>
      <link rel='stylesheet' id='googlefont-css' href='https://fonts.googleapis.com/css2?family=Lora&amp;display=swap&amp;ver=5.7' type='text/css' media='all'/>
      <link rel='stylesheet' id='styles-css' href='../css/stylesb4c8.css?ver=1605538045' type='text/css' media='all'/>
      <link rel='stylesheet' id='wp-block-library-css' href='../wp-includes/css/dist/block-library/style.mine23c.css?ver=5.7' type='text/css' media='all'/>
      <link rel="canonical" href="index.html"/>
   </head>
   <body class="page-template-default page page-id-586 wb-about-us subpage" data-siteurl="../index.html">
      <div id="wrap">
      <div class="page-loader show">
         <div class="loader bg-pattern flex flex-align-center flex-justify-center"> <img src="../hideout-app/themes/the-hideout-theme/img/logo.png" width="120" alt="The Oyster &amp; Fish House Logo"> </div>
      </div>
      <div class="booking-widget booking-widget--modal bg-primary--alt bg-pattern bg-pattern--light">
         <div class="container-fluid flex flex-direction-column flex-justify-center h-100">
            <div class="booking-widget-wrap"></div>
         </div>
         <a class="close-btn close-book-btn flex flex-align-center flex-justify-center">
            <div class="close-menu-line close-menu-line--left"></div>
            <div class="close-menu-line close-menu-line--right"></div>
         </a>
      </div>
      <header class="header header-narrow bg-secondary bg-pattern">
         <div class="text flex flex-direction-column">
            <a href="../index.html" class="logo"> <img src="../hideout-app/themes/the-hideout-theme/img/logo.png" width="120" alt="The Oyster &amp; Fish House Logo"></a>
            <div class="text-inner mt-auto">
               <span class="subtitle text-primary">British seasonal food</span></span> 
               <h1>About us</h1>
            </div>
         </div>
         <a class="button book-table-btn bg-pattern"> <span class="hidden-xs">Book a Room</span> <i class="fal fa-calendar-alt visible-xs-inline-block"></i> </a> 
         <a class="open-menu-btn flex flex-align-center flex-justify-center">
            <div class="menu-btn-waves">
               <div class="waves"></div>
            </div>
         </a>
         <div class="drawer">
            <div class="drawer-inner bg-secondary bg-pattern">
               <div class="drawer-inner-content">
                  <span class="subtitle text-primary">The Oyster &amp; Fish House</span>
                  <nav class="main-nav">
                     <ul>
                        <li id="menu-item-1528" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-586 current_page_item menu-item-1528"><a href="index.html" aria-current="page">About us</a></li>
                        <li id="menu-item-1510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1510"><a href="../menus/index.html">Menus</a></li>
                        <li id="menu-item-1511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1511"><a href="../mark-hix/index.html">Mark Hix</a></li>
                        <li id="menu-item-2162" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2162"><a href="../hix-at-home/index.html">Hix at Home</a></li>
                        <li id="menu-item-1513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1513"><a href="../hix-oyster-and-fish-truck/index.html">HIX Oyster &#038; Fish Truck</a></li>
                        <li id="menu-item-2197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2197"><a href="../marks-bar-at-home/index.html">Mark’s Bar at Home</a></li>
                        <li id="menu-item-1512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1512"><a href="../marks-kitchen-table/index.html">Mark’s Kitchen Table</a></li>
                        <li id="menu-item-1587" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1587"><a href="../news-events/index.html">News &#038; Events</a></li>
                        <li id="menu-item-1868" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1868"><a href="../weddings/index.html">Weddings</a></li>
                        <li id="menu-item-2289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2289"><a href="../hix-art-2/index.html">HIX ART</a></li>
                        <li id="menu-item-1680" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1680"><a href="../cookbooks/index.html">Cookbooks</a></li>
                        <li id="menu-item-1829" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1829"><a href="https://gvsvouchers.giftvouchersolutions.co.uk/?id=OYSFH">Gift vouchers</a></li>
                        <li id="menu-item-1549" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1549"><a href="../contact-us/index.html">Contact us</a></li>
                        <li id="menu-item-2001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2001"><a href="../careers/index.html">Careers</a></li>
                     </ul>
                  </nav>
                  <ul class='social-media'>
                     <li><a href="https://www.facebook.com/oysterandfishhouse" target="_blank"><i class=" fab fa-facebook"></i></a></li>
                     <li><a href="https://www.instagram.com/theoysterandfishhouse/" target="_blank"><i class=" fab fa-instagram"></i></a></li>
                     <li><a href="https://www.youtube.com/channel/UCS0QB3Q2hsM0pg01q2zKVGg" target="_blank"><i class=" fab fa-youtube"></i></a></li>
                  </ul>
               </div>
            </div>
            <a class="close-btn close-menu-btn flex flex-align-center flex-justify-center">
               <div class="close-menu-line close-menu-line--left"></div>
               <div class="close-menu-line close-menu-line--right"></div>
            </a>
         </div>
         <div class="cookie-message cookie-message--box">
            <div class="cookie-message-inner">
               <div class="content">
                  <h3>Cookies</h3>
                  <p>This website uses cookies as explained in our <a href="../privacy-policy/index.html">cookie policy</a>. If you agree to our use of cookies, please accept all, alternatively you can change your settings and decline.</p>
               </div>
               <div class="buttons"> <a href="#" id="accept-cookies" class="text-button text-button--primary text-primary--dark">Accept all<i class="fal fa-check"></i></a> <a href="#" id="decline-cookies" class="text-button text-button--primary text-primary--dark">Decline<i class="fal fa-times"></i></a> </div>
            </div>
         </div>
      </header>
      <section class="main-body">
         <article class="main-content">
            <div class="widget-container widget-container--bleed booking-widget booking-widget--center bg-primary--alt ">
               <div class="container-fluid" data-show data-show-move data-show-percentage="20">
                  <div class="booking-widget-wrap">
                     <div class="booking-widget-inner">
                        <script type='text/javascript' src='http://www.opentable.com/widget/reservation/loader?rid=213807&amp;type=standard&amp;theme=standard&amp;iframe=false&amp;domain=com&amp;lang=en-US&amp;newtab=false&amp;ot_source=Restaurant%20website'></script> 
                        <div class="large-groups-text">
                           <p><strong>Phone bookings:</strong> +44 (0)1297 446910  / Please note we can only accept 2 households or 6 people per booking until 20th June. / HIX gift vouchers are not valid at The Oyster &amp; Fish House / For our Covid-19 dining policy please <a href="../news-events/covid-19-dining-policy/index.html">click here</a></p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="widget-container widget-container--bleed image-slider-widget">
               <div class="slider widget-slider" data-dots="false" data-arrows="true">
                  <div class="slide">
                     <div class="text" data-show data-show-move data-show-percentage="20"> </div>
                     <div class="image image-absolute " data-scrollspeed="0.2">
                        <figure class="img" style="background-image:url(../uploads/2020/07/24HixLyme180525Matt-Austin-2500x2000.jpg);"> <img width="2500" height="2000" src="../uploads/2020/07/24HixLyme180525Matt-Austin-2500x2000.jpg" alt="The Oyster & Fish House window view"/> </figure>
                     </div>
                  </div>
               </div>
            </div>
            <div class="widget-container standard-widget" data-show data-show-move data-show-percentage="20">
               <div class="container-fluid container-fluid--sml">
                  <h2 style="text-align: center;">Serving the best of local produce, sustainable fish and seafood</h2>
                  <p class="p1" style="text-align: center;">Located on the site that was formerly HIX Oyster &amp; Fish House, the restaurant is Mark Hix’s new solo venture, serving the best of local produce, sustainable fish and seafood caught off the Dorset coast, often from Lyme Bay itself.</p>
                  <p style="text-align: center;">We are open 7 days a week 12pm-10pm (last bookings 10pm)</p>
               </div>
            </div>
            <div class="widget-container button-widget button-widget--center">
               <div class="container-fluid container-fluid--sml"> <a class="text-button" href="../news-events/covid-19-dining-policy/index.html"> Please read our Covid-19 dining policy </a> </div>
            </div>
            <div class="widget-container widget-container--bleed image-text-widget image-text-widget--right bg-secondary">
               <div class="flex-list">
                  <div class="image image-absolute" data-scrollspeed="0.2">
                     <figure class="img" style="background-image:url(../uploads/2020/07/50HixLyme180525Matt-Austin-1500x1500.jpg);"> <img width="1500" height="1500" src="../uploads/2020/07/50HixLyme180525Matt-Austin-1500x1500.jpg" alt="Interior seating and dining Dorset"/> </figure>
                  </div>
                  <div class="text flex flex-direction-column flex-justify-center">
                     <div class="text-inner" data-show data-show-move data-show-percentage="20">
                        <span class="subtitle text-primary">Daily Changing Dishes</span> 
                        <h3>Menus</h3>
                        <p>The menus at the Fish House are built around the long-established, personal relationships that Mark has with his suppliers and use only responsibly produced, carefully sourced and simply served British seasonal ingredients. The Fish House also serves by-catch, supporting local Lyme Bay Reserve fishermen.</p>
                        <a class="text-button" href="../menus/index.html"> View the menus<i class="fal fa-long-arrow-right"></i> </a> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="widget-container widget-container--bleed image-text-widget image-text-widget--left bg-primary">
               <div class="flex-list">
                  <div class="image image-absolute" data-scrollspeed="0.2">
                     <figure class="img" style="background-image:url(../uploads/2020/07/98HixLyme180525Matt-Austin-1500x1500.jpg);"> <img width="1500" height="1500" src="../uploads/2020/07/98HixLyme180525Matt-Austin-1500x1500.jpg" alt="The Oyster & Fish House drinks menu"/> </figure>
                  </div>
                  <div class="text flex flex-direction-column flex-justify-center">
                     <div class="text-inner" data-show data-show-move data-show-percentage="20">
                        <span class="subtitle text-primary">What Mark's Drinking</span> 
                        <h3>Drinks</h3>
                        <p>The wine list reads as a charming tour of the local vineyards including Lyme Bay Winery and boutique vineyard, Castlewood. A selection of beers from the South West are always featured alongside a seasonal cocktail list showcasing local spirits such as Black Cow pure milk vodka and Julian Temperley&#8217;s Somerset Cider Brandy.</p>
                        <a class="text-button" href="../menus/index.html"> View the menu<i class="fal fa-long-arrow-right"></i> </a> 
                     </div>
                  </div>
               </div>
            </div>
            <div class="widget-container widget-container--bleed fullwidth-cta-widget">
               <a href="../contact-us/index.html" class="cta-wrap bg-primary--dark bg-pattern bg-pattern--light">
                  <div class="text">
                     <div data-show data-show-move data-show-percentage="20">
                        <span class="subtitle text-secondary"> Our location </span> 
                        <h2 class="h1 text-white">How to find The Oyster & Fish House</h2>
                     </div>
                     <div class="arrow">
                        <div data-show data-show-move data-show-percentage="10"> <i class="fal fa-long-arrow-right long-arrow text-white"></i> </div>
                     </div>
                  </div>
               </a>
            </div>
         </article>
      </section>
      <footer>
         <div class="footer-top bg-secondary bg-pattern">
            <div class="container-fluid">
               <div class="flex-list flex-space-between">
                  <div class="flex-col footer-nav">
                     <nav>
                        <ul>
                           <li id="menu-item-1557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1557"><a href="../careers/index.html">Careers</a></li>
                           <li id="menu-item-1897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1897"><a href="../accommodation/index.html">Accommodation</a></li>
                           <li id="menu-item-2211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2211"><a href="https://thefoxinncorscombe.co.uk/">The Fox Inn</a></li>
                           <li id="menu-item-1644" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1644"><a href="../covid-policy/index.html">Covid Policy</a></li>
                           <li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a href="../privacy-policy/index.html">Privacy Policy</a></li>
                           <li id="menu-item-1556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1556"><a href="../recruitment-selection-privacy-notice/index.html">Recruitment &#038; Selection Privacy Notice</a></li>
                           <li id="menu-item-1350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1350"><a href="../sitemap/index.html">Sitemap</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div class="flex-col footer-social">
                     <ul class='social-media'>
                        <li><a href="https://www.facebook.com/oysterandfishhouse" target="_blank"><i class=" fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/theoysterandfishhouse/" target="_blank"><i class=" fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCS0QB3Q2hsM0pg01q2zKVGg" target="_blank"><i class=" fab fa-youtube"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container-fluid">
               <div class="flex-list flex-space-between"> <span>&copy; OGHBS</span> <span>Created by Treadstone Cyborgs</span> </div>
            </div>Created
         </div>
      </footer>
      <script type='text/javascript' src='../js/js.cookied9c4.js?ver=1605538046' id='cookies-js'></script><script type='text/javascript' src='../js/scriptsd9c4.js?ver=1605538046' id='scripts-js'></script> 
   </body>
  
</html>
