<!DOCTYPE html>
{% load static %}
<html>
   
   <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="apple-touch-icon" href="{% static 'images/hideout-app/themes/the-hideout-theme/img/apple-icon-touch.png' %}">
      <link rel="icon" href="{% static 'images/hideout-app/themes/the-hideout-theme/img/favicon.png' %}">
      <meta content="index,follow" name="robots">
      <title>OGHBS | PROFILE</title>
      
      <!-- <meta name='robots' content='max-image-preview:large'/> -->
      <link rel='dns-prefetch' href='http://fonts.googleapis.com/'/>
      <link rel='dns-prefetch' href='http://s.w.org/'/>
      <link rel='stylesheet' id='googlefont-css' href='https://fonts.googleapis.com/css2?family=Lora&amp;display=swap&amp;ver=5.7' type='text/css' media='all'/>
      <link rel='stylesheet' id='styles-css' href='{% static "css/stylesb4c8.css" %}' type='text/css' media='all'/>
      <link rel='stylesheet' id='styles-css' href='{% static "css/login.css" %}' type='text/css' media='all'/>
      <link rel='stylesheet' id='wp-block-library-css' href='{% static "wp-includes/css/dist/block-library/style.mine23c.css" %}' type='text/css' media='all'/>
      <link rel="canonical" href="index.html"/>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      
   </head>
   <body class="page-template-default page page-id-1672 wb-cookbooks subpage" data-siteurl="index.html">
      <div id="wrap">
      <div class="page-loader show">
         <div class="loader bg-pattern flex flex-align-center flex-justify-center"> <h1> OGHBS </h1></div>
      </div>
      <div class="booking-widget booking-widget--modal bg-primary--alt bg-pattern bg-pattern--light">
         <div class="container-fluid flex flex-direction-column flex-justify-center h-100">
            <div class="booking-widget-wrap"></div>
         </div>
         <a class="close-btn close-book-btn flex flex-align-center flex-justify-center">
            <div class="close-menu-line close-menu-line--left"></div>
            <div class="close-menu-line close-menu-line--right"></div>
         </a>
      </div>
      <header class="header header-narrow bg-secondary bg-pattern">
         {% include 'OGHBS_APP/header.html' %}
      </header>
      <section class="main-body">
         <article class="main-content">
            
            <div class="widget-container widget-container--bleed fullwidth-cta-widget">
                <a href="" class="cta-wrap bg-primary--dark bg-pattern bg-pattern--light">
                   <div class="text">
                      <div >
                         
                         <h2 class="h1 text-white">Edit Profile</h2>
                      </div>
                      <div class="arrow">
                         <div > <i class="fal fa-long-arrow-right long-arrow text-white"></i> </div>
                      </div>
                   </div>
                </a>
             </div>
           
            <div class="widget-container widget-container--bleed image-text-widget image-text-widget--left bg-secondary">
               <div class="flex-list flex-justify-center scroll-show">

                  <div class="text flex flex-direction-column flex-justify-center">
                     <div class="text-inner" data-show data-show-move data-show-percentage="20">
                        <h3>Edit Profile...</h3>
                        <div class='input-fields'>
                          {% ifequal category 0 %}
                           <form method="post" action="" >
                              {% csrf_token %}
                              {% for field in form1 %}
                                 {{ field }}
                              {% endfor %}

                              {% if form1.errors %}
                                  {% for field in form1 %}
                                      {% for error in field.errors %}
                                          <div class="alert alert-danger ani">
                                              <strong>{{ error|escape }}</strong>
                                          </div>
                                      {% endfor %}
                                  {% endfor %}
                                  {% for error in form1.non_field_errors %}
                                      <div class="alert alert-danger ani">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endif %}

                              <button type="submit" style="border-bottom: 0px!important;margin-top: 5px!important" class="text-button text-button--dark text-black">Register</button>
                           </form>
                           {%else%}
                           <form method="post" action="" >
                              {% csrf_token %}
                              {% for field in form2 %}
                                 {{ field }}
                              {% endfor %}

                              {% if form2.errors %}
                                  {% for field in form2 %}
                                      {% for error in field.errors %}
                                          <div class="alert alert-danger ani">
                                              <strong>{{ error|escape }}</strong>
                                          </div>
                                      {% endfor %}
                                  {% endfor %}
                                  {% for error in form2.non_field_errors %}
                                      <div class="alert alert-danger ani">
                                          <strong>{{ error|escape }}</strong>
                                      </div>
                                  {% endfor %}
                              {% endif %}

                              <button type="submit" style="border-bottom: 0px!important;margin-top: 5px!important" class="text-button text-button--dark text-black">Register</button>
                           </form>
                           {%endifequal%}
                        </div>
                        </div>
                  </div>
               </div>
            </div>

            
            
         </article>
      </section>
      <footer>
         <div class="footer-top bg-secondary bg-pattern">
            <div class="container-fluid">
               <div class="flex-list flex-space-between">
                  <div class="flex-col footer-nav">
                     <nav>
                        <ul>
                           <li id="menu-item-1557" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1557"><a href="../careers/index.html">Careers</a></li>
                           <li id="menu-item-1897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1897"><a href="../accommodation/index.html">Accommodation</a></li>
                           <li id="menu-item-2211" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2211"><a href="https://thefoxinncorscombe.co.uk/">The Fox Inn</a></li>
                           <li id="menu-item-1644" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1644"><a href="../covid-policy/index.html">Covid Policy</a></li>
                           <li id="menu-item-267" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-267"><a href="../privacy-policy/index.html">Privacy Policy</a></li>
                           <li id="menu-item-1556" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1556"><a href="../recruitment-selection-privacy-notice/index.html">Recruitment &#038; Selection Privacy Notice</a></li>
                           <li id="menu-item-1350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1350"><a href="../sitemap/index.html">Sitemap</a></li>
                        </ul>
                     </nav>
                  </div>
                  <div class="flex-col footer-social">
                     <ul class='social-media'>
                        <li><a href="https://www.facebook.com/oysterandfishhouse" target="_blank"><i class=" fab fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/theoysterandfishhouse/" target="_blank"><i class=" fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCS0QB3Q2hsM0pg01q2zKVGg" target="_blank"><i class=" fab fa-youtube"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom">
            <div class="container-fluid">
               <div class="flex-list flex-space-between"> <span>&copy; OGHBS</span> <span>Created by Treadstone Cyborgs</span> </div>
            </div>
         </div>
      </footer>
      <script type='text/javascript' src='{% static "js/js/js.cookied9c4.js" %}' id='cookies-js'></script><script type='text/javascript' src='{% static "js/js/scriptsd9c4.js" %}' id='scripts-js'></script> 
   </body>
   
</html>
